.listagem {
    max-width: 200px;
}

.listagem .moto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: #6B727A;
    color: #FFFFFF;
    padding: 5px;
    cursor: pointer;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    min-height: 70px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.15s ease-in-out;
}

.listagem .moto:hover {
    transform: scale(1.05);
}

.listagem .moto img {
    width: 25%;
}

.listagem .moto span {
    padding-right: 10px;
}

.listagem .moto.ativo {
    background-color: #B9F400;
}